<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddDoctorServlet</servlet-name>
        <servlet-class>com.ehealthcare.web.AddDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorCreate</servlet-name>
        <servlet-class>com.ehealthcare.web.DoctorCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientCreate</servlet-name>
        <servlet-class>com.ehealthcare.web.PatientCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientStartChat</servlet-name>
        <servlet-class>com.ehealthcare.web.PatientStartChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>com.ehealthcare.web.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>com.ehealthcare.web.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageSendServlet</servlet-name>
        <servlet-class>com.ehealthcare.web.MessageSendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllMessagesServlet</servlet-name>
        <servlet-class>com.ehealthcare.web.GetAllMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPatientsServlet</servlet-name>
        <servlet-class>com.ehealthcare.web.FindPatientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatToClientServlet</servlet-name>
        <servlet-class>com.ehealthcare.web.ChatToClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessagesForDoctor</servlet-name>
        <servlet-class>com.ehealthcare.web.GetMessagesForDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCheck</servlet-name>
        <servlet-class>com.ehealthcare.web.AdminCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLicenseNumber</servlet-name>
        <servlet-class>com.ehealthcare.web.AddLicenseNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPreviousConversations</servlet-name>
        <servlet-class>com.ehealthcare.web.FindPreviousConversations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadConversation</servlet-name>
        <servlet-class>com.ehealthcare.web.ReadConversation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDoctorServlet</servlet-name>
        <url-pattern>/AddDoctorServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorCreate</servlet-name>
        <url-pattern>/DoctorCreate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientCreate</servlet-name>
        <url-pattern>/PatientCreate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientStartChat</servlet-name>
        <url-pattern>/PatientStartChat.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageSendServlet</servlet-name>
        <url-pattern>/MessageSendServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllMessagesServlet</servlet-name>
        <url-pattern>/GetAllMessagesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPatientsServlet</servlet-name>
        <url-pattern>/FindPatientsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatToClientServlet</servlet-name>
        <url-pattern>/ChatToClientServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessagesForDoctor</servlet-name>
        <url-pattern>/GetMessagesForDoctor.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCheck</servlet-name>
        <url-pattern>/AdminCheck.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLicenseNumber</servlet-name>
        <url-pattern>/AddLicenseNumber.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindPreviousConversations</servlet-name>
        <url-pattern>/FindPreviousConversations.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadConversation</servlet-name>
        <url-pattern>/ReadConversation.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>AdminConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Admin Resources</web-resource-name>
            <description>Resources for people with admin priviledges</description>
            <url-pattern>/AddLicenseNumber.do</url-pattern>
            <url-pattern>/adminLogin.html</url-pattern>
            <url-pattern>/jsp_pages/admin_home_page.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>healthcarerealm</realm-name>
        <form-login-config>
            <form-login-page>/adminLogin.jsp</form-login-page>
            <form-error-page>/user_not_found.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>This is the admin role of the ehealthcare system</description>
        <role-name>admin</role-name>
    </security-role>
</web-app>
